a.menu {
  color:black;
  text-decoration: none;
}
/*메뉴바에서 들어가 있는 페이지를 표시*/
a.active {
  color:red;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align: center;
  margin:0;
  padding:20px;
}
h2 {
  font-size:25px;
  margin:0;

}

/* 메뉴바 만든거*/
ol.menu2{
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
}

#textframe {
        border:1px solid black;
        padding:40px;
        margin:10px 50px 20px 50px;
        display:block;
      }

/*맨 위로 빨간 둥글 버튼*/
a.button {
    width:100px;
    background-color: #f8585b;
    border-radius:30px;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    display: block; margin: 0px auto;
}

/*
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
*/

/*
<form target="_blank" action="https://script.google.com" method="post">

  <p>해주고싶은 말</p>
  <p><textarea name="comment1" cols="40" rows="8">자유롭게 기입해주세요.</textarea></p>
  <p><input type="submit" value="보내기"></p>
</form>
*/
